.search-result{
   position: absolute;
   left:0;
   right:0;
   margin:auto;
   width:90%;
   overflow-y: auto;
   max-height:8em;
   background:var(--py-color3);
   box-shadow: 0 3px 3px rgba(128, 128, 128, 0.397);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   z-index:1000;

   .loading-placeholder{
      font-size:4rem;
      display: block;
      color:grey;
      position: absolute;
      left:0;
      right:0;
      margin:auto;
   }

   .found-contact{
      font-family: var(--ff1);
      cursor: pointer;
      font-size:1rem;
      padding:1em;
      border-top:1px solid rgba(128, 128, 128, 0.397);

      &:hover{
         background-color: rgba(231, 185, 199, 0.329);
      }
   }
}