$accent_color_1: hsl(24, 100%, 50%);
$accent_color_2: hsla(29, 92%, 51%, 0.815);
$accent_color_3: hsla(29, 92%, 51%, 0.692);

$active_navLink_bg: hsla(0, 1%, 34%, 0.562);
$util_color1: hsl(0, 9%, 90%);
$util_color2: hsl(0, 5%, 81%);
$radiant_color1:  hsl(0, 91%, 43%);
$radiant_color2:  hsl(182, 87%, 27%);

$generic_color_1:  hsl(0, 0%, 100%);
$generic_color_2: hsl(0, 0%, 0%);

$bg_color1: hsl(0, 21%, 93%);
$bg_color2: hsl(240, 6%, 97%);
$text-color1: hsl(210, 4%, 30%);
$text-color2:  hsl(0, 3%, 16%);

$disabled_net_link_bg: hsla(260, 18%, 93%, 0.973);
$active_net_link_bg: hsla(182, 90%, 43%, 0.425);
$active_net_link_bg_hover: hsla(182, 91%, 35%, 0.493);