@use './typography' as *;
@use './colors' as *;

*,
*::after,
*::before{
   padding:0;
   margin:0;
   box-sizing: border-box;
}

html{
   min-height: 100vh;
}

body{
   height: 100%;
}

img{
   max-width: 100%;
   object-fit: cover;
}

button,
input{
   background: none;
   border:none;
   font-family: inherit;
   cursor: pointer;

   &:focus{
      border: none;
      outline: none;
   }
}

a,
li{
   list-style-type: none;
   text-decoration: none;
}


h1,
h2,
h3,
h4,
h5{
   color: $text-color1;
   font-family: $ff_secondary;
}

h1{
   font-size: clamp(1.406rem, 0.545vw + 1.28rem, 1.65rem);
}

.AT_only {
   font-size: 1px;
   width:0;
   clip: rect(0,0,0,0);
   position:absolute;
   left:-100000px;
   top: -100000px;
   opacity:  0;
}

.popup-prompt {
   font-family: $ff_prompts !important;
}

section{
   width: 95%;
   margin:  auto;
}