@use './typography' as *;
@use './colors' as *;
@use '../utils' as *;

:root {
   --PhoneInput-color--focus: rgb(196, 120, 8);
   --PhoneInputCountrySelect-marginRight: 0.35em;
   --PhoneInputCountrySelectArrow-width: 0.5em;
   --PhoneInputCountrySelectArrow-opacity: 0.45;
   --PhoneInputCountrySelectArrow-color: currentColor;
   --PhoneInputCountryFlag-aspectRatio: 1.5;
   --PhoneInputCountryFlag-height: 1.8em;
   --PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
   --PhoneInputCountryFlag-backgroundColor--loading: rgba(0,0,0,0.1);
   --PhoneInputCountrySelect-marginRight: .8em;
}

*,
*::after,
*::before{
   padding:0;
   margin:0;
   box-sizing: border-box;
}

html{
   min-height: 100vh;
}

body{
   overflow-x: hidden;
   scroll-behavior: smooth;
   height: 100%;
}

img{
   max-width: 100%;
   object-fit: cover;
}

button,
input{
   background: none;
   border:none;
   font-family: inherit;
   cursor: pointer;

   &:focus{
      border: none;
      outline: none;
   }
}

a,
li{
   list-style-type: none;
   text-decoration: none;
}


h1,
h2,
h3,
h4,
h5{
   color: $text-color1;
   font-family: $ff_secondary;
}

h1{
   font-size: clamp(1.406rem, 0.545vw + 1.28rem, 1.65rem);
}

svg{
   pointer-events: none;
}

.AT_only {
   font-size: 1px;
   width:0;
   clip: rect(0,0,0,0);
   position:absolute;
   left:-100000px;
   top: -100000px;
   opacity:  0;
}

.popup-prompt {
   font-family: $ff_prompts !important;
}


// overwrite Add label MUI dialog  styling

.add_label_dialog_input{
   border-color: $radiant_color2 !important;
   label{
     font-family: $ff_primary;
     font-size: 1rem !important;
     color: $radiant_color2 !important;
   }

   input{
      font-family: $ff_primary;
      font-weight: $fw_bold;
      border-color: $radiant_color2 !important;
   }
}

.add_label_dialog_btn{
   font-family: $ff_primary !important;
   background-color: $radiant_color2 !important;
   color: $generic_color_1 !important;
   font-size: 1rem !important;
   height: 2em;

   &:hover{
      background-color: $radiant_color2 !important;
      opacity: .8;
   }
}



// Overriding MUI  Border Properties

.Mui-focused .MuiOutlinedInput-notchedOutline {
   border-color: $accent_color_2 !important;
}

.custom_select:hover{
   .MuiOutlinedInput-notchedOutline {
      border-color: $accent_color_2 !important;
   }
}



.textField{
   & .MuiOutlinedInput-root {
      &.Mui-focused fieldset {
         border-color: $accent_color_2 !important;
      }
   }
   
   &:hover .MuiOutlinedInput-root {
      & fieldset{
         border-color: $accent_color_2 !important;
      }
   }
}