// font families
$ff_primary: 'Barlow', sans-serif;
$ff_secondary: 'Roboto Slab', serif;
$ff_prompts: 'Source Sans Pro', sans-serif;

// font weights
$fw_regular: 400;
$fw_bold: 500;
$fw_xBold: 600;
$fw_xxBold: 700;