
@use '../utils/' as *;

.help-article{
   padding-inline:1em;
   img{
      width:1.2em;
   }

   h2{
      color:var(--py-color1);
      margin-block:.3em 1em;
   }

   .mail-prompt{
      margin-top:1em;

      p:first-of-type{
         color:var(--py-color2);

         span{
            color:green;
            display:block;
            text-transform: uppercase;
            text-decoration: underline;
         }
      }
   }

   p{
      margin-block:.5em;
   }

   .email-address{
      color:orange;

      span{
         color:var(--py-color1);
      }
   }

   .article-footer{
      margin-top:2em;
      text-align: center;
      color:var(--py-color1);
   }

   @include MediaQueryTablet{
      padding-inline:4em;
   }

   @include MediaQueryDesktop{
      h2{
         position: unset;
         text-align: left;
         font-size: 2rem !important;
      }

      p{
         margin-block:1em;
      }

      .article-footer{
         text-align: left;
         margin-top:6em;
      }
   }

}