@use '../utils' as *;
@use '../global/colors' as *;
@use '../global/typography' as *;

.header_main{
   @include flexObj($align:baseline);
   padding-bottom:2em;
   width: 96%;
   margin: auto;
   gap: 1em;
   position: relative;
   svg{
      font-size: 1.2rem;
      color: $text-color1;
   }


   .user_utils{
      position: absolute;
      bottom: 0;
      left: .3em;
      @include flexObj;
      gap: 0.5em;
   }

   h1{
      flex-basis: 60%;
      position: relative;
      z-index: 101;

      &::before{
         content: "";
         width: 97%;
         margin-inline: auto;
         height: 3px;
         position: absolute;
         background-color: $accent_color_2;
         bottom: 6px;
         z-index: -1;
      }
   }
}



// Navigation menu
.main_nav{
   position: absolute;
   left: -4%;
   top: 0;
   z-index: 100;
   opacity: 1;
   transition: all .35s linear;
   padding: 4.2em 1.5em;
   background: $generic_color_1;
   width: 74%;
   height: 100vh;
   overflow-y: auto;
   box-shadow: 0 4px 4px 5px hsla(0, 0%, 0%, 0.137);
   font-family:  $ff_primary;


   div{
      margin-top: 3em;

      p{
         margin-block: 1.1em;
         color: $text-color2;
         font-weight: $fw_bold;
         font-size: 1.1rem;
      }
   }

  li{
      margin-block: 1em;
      font-family:  inherit;
      font-weight: $fw_bold;
      font-size: 1.05rem;
      letter-spacing: .05rem;

      // links
      a{
         color: $text-color2;
         svg{
            margin-right: 1em;
         }
      }
   }


   .label-area{
      margin-top: 2em;
      button{
         margin-block: 1em;
         font-family:  inherit;
         font-weight: $fw_bold;
         font-size: 1.1rem;
         @include flexObj;
         width: 100%;
      }
   }
}



.hide_nav{
  left: -1000px;
  opacity: 0;
}


button[aria-controls=user-menu]{
   aspect-ratio: 1/1;
   width:3em;
   border-radius: 50%;
   margin-inline:.3em;
   border: 1px solid $accent_color_2;

   svg{
      color: $accent_color_1;
   }
}


// searchbar styling
.searchbar-input{
  position: absolute;
  left: .5em;
  bottom: -1em;
  height: 3em;
  padding: 1em;
  font-family: $ff_primary;
  font-weight: 500;
  color: $text-color1;
  z-index: 99;
  background-color: $generic_color_1;
  border-radius: 6px;
  border: 1px solid rgb(192, 186, 186);
  background: $bg_color2;
  
  &:focus{
     border: 1px solid rgb(192, 186, 186);
  }
}

.hide-searchbar{
   display:none;
}




.hamburger-icon{
  z-index: 101;
}




// MEDIA QUERIES
@media (min-width:40rem) {
   .header_main{
      gap: .5em;
      h1{
         flex-basis:unset;
         margin-right: 4em;
      }
   }

   .searchbar{
      position: relative;
      @include flexObj;
      right: -4em;

      svg{
         display: none;
      }
   }

   .searchbar-input{
      bottom: unset;
      left: unset;
      right: 2em;
      width: 20em;
   }

   .main_nav{
      width: 50%;
   }

}






@media (min-width:60rem) {
   .header_main{
      padding-block: 1em;
      position: relative;
      padding-left: 4em;

         
      .user_utils{
         position: unset;
         gap: 1em;

         svg{
            font-size: 1.4rem;
         }
      }
   }

  .main_nav{
      box-shadow: none;
      top: 5em;
      padding-top: 1em;
      background: transparent;
      width: 20%;
      left: -1%;
      z-index: 1;

      li{
         margin-block: 1.5em;
      }
   }

   .hamburger-icon{
      position: absolute;
      left: 0;
   }

   .searchbar{
      flex-basis: 33%;
      right: unset;
      .searchbar-input{
         width: 40em;
         right: 0;
         margin: auto;
         height: 2.5em;
         padding: 1.5em 1em;
         font-size: 1rem;

         &::placeholder{
            color: $text-color2;
         }
      }
   }

}