@use '../utils' as *;
@use '../global/colors' as *;
@use '../global/typography' as *;

.header_main{
   @include flexObj($align:baseline);
   padding-bottom:2.5em;
   width: 96%;
   margin: auto;
   gap: 1em;
   position: relative;
   border-bottom: 1px solid $util_color1;
   svg{
      font-size: 1.2rem;
      color: $text-color1;
   }


   .user_utils{
      position: absolute;
      bottom: 0;
      left: 0em;
      @include flexObj;
      gap: 0.5em;
   }

   h1{
      position: relative;
      z-index: 101;
      margin-right:  1em;
      cursor: pointer;

      &::before{
         content: "";
         width: 97%;
         margin-inline: auto;
         height: 3px;
         position: absolute;
         left: 0;
         right: 0;
         background-color: $accent_color_2;
         bottom: 5px;
         border-radius: 10px;
         z-index: -1;
      }
   }
}



// Navigation menu
.main_nav{
   position: absolute;
   left: -2%;
   top: 0;
   z-index: 100;
   opacity: 1;
   transition: all .25s linear;
   padding: 4.2em 1.8em;
   background: $generic_color_1;
   width: 74%;
   height: 100vh;
   overflow-y: auto;
   box-shadow: 0 4px 4px 5px hsla(0, 0%, 0%, 0.137);
   font-family:  $ff_primary;


   div{
      margin-top: 3em;

      p{
         margin-block: 1.1em;
         color: $text-color2;
         font-weight: $fw_bold;
         font-size: 1.1rem;
      }
   }

  li{
      margin-block: 1em;
      font-family:  inherit;
      font-weight: $fw_bold;
      font-size: 1.05rem;
      letter-spacing: .05rem;

      // links
      a{
         color: $text-color2;
         svg{
            margin-right: 1em;
         }
      }
   }


   .label-area{
      margin-top: 2em;
      button{
         margin-block: 1em;
         font-family:  inherit;
         font-weight: $fw_bold;
         font-size: 1.1rem;
         @include flexObj;
         width: 100%;
      }
   }
}



.hide_nav{
  left: -1000px;
  opacity: 0;
}


button[aria-controls=user-menu]{
   aspect-ratio: 1/1;
   width:3em;
   border-radius: 50%;
   margin-inline:.3em;

   svg{
      color: $accent_color_1;
      transform: translateY(.3em);
   }
}


// searchbar styling
.header_main .searchbar-input{
  position: absolute;
  left: .5em;
  bottom: 0;
  height: 3em;
  padding: 1em;
  font-family: $ff_primary;
  font-weight: 500;
  color: $text-color1;
  z-index: 99;
  background-color: $generic_color_1;
  border-radius: 6px;
  border: 1px solid rgb(192, 186, 186);
  background: $bg_color2;
  
  &:focus{
     border: 1px solid rgb(192, 186, 186);
  }

  &::placeholder{
   color: $text-color1 !important;
  }
}

.hide-searchbar{
   display:none;
}




.hamburger-icon{
  z-index: 101;
  @include flexObj($justify:center);
}



// User Info Menu Styling Section
.user-menu{
   position: absolute;
   padding: 1em;
   animation-name: slideIn_One;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   animation-duration: .2s;
   width: 10em;
   max-height: 11.3em;
   border-radius: 8px;
   background-color: $bg_color2;
   right: 1em;
   font-family: $ff_primary;
   z-index: 10;
   @include flexObj($justify:center,$direction:column);
   box-shadow: 0px 2px 2px 2px $util_color2;

   &>span{
      color: $accent_color_1;
      font-weight: $fw_xBold;
      font-size: .9rem;
      display: block;
      text-decoration: underline;
   }

   p{
      font-family: $ff_secondary;
      text-transform: capitalize;
      margin-block: 1em;
   }
   
   
   button {
      display: block;
      background-color: $accent_color_1;
      cursor: pointer;
      margin-block: 1em;
      margin-inline: auto;
      font-family: $ff_primary;
      padding: .6em;
      height: 2.5em;
      font-weight: $fw_bold;
      color: $generic_color_1;
      @include flexObj;
      font-size: 1rem;

      &:hover{
         background: $accent_color_2;
      }

      svg{
         color: $generic_color_1;
      }

      span {
         color: inherit;
      }
   }
}



// MEDIA QUERIES
@include  useMediaQuery_MD{
   .header_main{
      gap: .5em;
   }

   .header_main .searchbar{
      position: relative;
      @include flexObj;

      svg{
         display: none;
      }
   }

   .header_main .searchbar-input{
      position: relative;
      bottom: unset;
      left: unset;
      right: 2em;
      height: 3em;
      padding-block: 1.6em;
      width: 25em;
   }

   .main_nav{
      width: 40%;
   }

}






@include  useMediaQuery_LS{
   .header_main{
      padding-block: 1em;
      position: relative;
      padding-left: 4em;

         
      .user_utils{
         position: unset;
         gap: 1em;

         svg{
            font-size: 1.2rem;
         }
      }

      h1{
         margin: 0;
      }
   }

  .main_nav{
      box-shadow: none;
      top: 8em;
      padding-top: 1em;
      background: transparent;
      width: 20%;
      z-index: 1;

      li{
         margin-block: 1.5em;
      }
   }

   .hamburger-icon{
      position: absolute;
      left: 0;
   }

   .searchbar{
      flex-basis: 65%;
      right: unset;
      position: relative;
      .searchbar-input{
         width: 85%;
         right: unset;
         position: absolute;
         margin-block: auto;
         height: 2em;
         padding: 1.3em 1em;
         font-size: 1rem;

         &::placeholder{
            color: $text-color2;
         }
      }
   }

}