@use '../utils/' as *;
@use '../global/' as *;

.help-faq{
   position: fixed;
   right: 1em;
   top: 7em;
}

.custom_working_snackbar{
   position: fixed;
   transition: .2s linear;
   bottom: 0;
   left: 0;
   right: 0;
   margin-inline: auto;
   width: 100%;
   @include flexObj($justify:center);
   p{
      font-family: $ff_prompts;
      background-color: $text-color1;
      width: 15em;
      color: #FAFAFA;
      padding:.8em 1em;
      border-radius: 5px;
   }
}