@use '../utils/' as *;
@use '../global/' as *;

.help-faq{
   position: fixed;
   right: 1em;
   top: 7em;
}

.custom_working_snackbar{
   position: fixed;
   transition: .2s linear;
   bottom: 0;
   left: 0;
   right: 0;
   margin-inline: auto;
   width: 100%;
   @include flexObj($justify:center);
   p{
      font-family: $ff_prompts;
      background-color: $text-color2;
      width: 14em;
      color: #FAFAFA;
      font-size:1rem;
      padding:.7em 1em;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
   }
}

.setting-section{
   padding: 3em 4em 1em;

   h4{
      font-size:1.5rem;
      position:absolute;
      left: .5em;
      top:.5em;
   }

   .st-label{
      color: $radiant_color2 !important;
      font-family: $ff_prompts;
      font-weight: $fw_bold;
      margin-top: 1em;
   }
}


.custom_simple_modal{
   p{
      font-family: $ff_primary;
      font-weight: $fw_bold;
      font-size: 1rem;
      color: $text-color2;
      z-index: 4;
      margin-top:1em;
   }
}


.custom_simple_dialog{

   &>*{
      color: $text-color2;
   }

   button{
      font-family: $ff_secondary;
      color: $radiant_color2;
   }
}

.custom_alert{
   width:20em;
   position: fixed;
   top: 5em;
   z-index:1000;
   left: 2em;

   *{
      font-family: $ff_prompts;
   }

   @include useMediaQuery_LS{
      @include alignPage;
   }
}