@use '../utils/' as *;
@use '../global/' as *;


.image_upload_input{
   width: 6.4em;
   border-radius: 50%;
   aspect-ratio: 1/1;
   position: relative;
   margin-inline: auto;
   background: $accent_color_2;
   @include flexObj($justify:center);

   input{
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      &::-webkit-file-upload-button::before {
         content: none;
         display: none;
      }

      &::-webkit-file-upload-button::after {
         content: "";
      }
   }

   img{
      width: 100%;
      height: 100%;
      border: 1px solid $radiant_color2;
      border-radius: 50%;
      @include centerContentObj;
   }

   svg{
      position: absolute;
      font-size: 2rem;
      pointer-events: none;
      color: $text_color2;
   }
}

.create_contact_page form {
   position: relative;
   padding: 1.5em 1em;


   .top_section{

      button {
         font-family: $ff_primary;
         font-weight: $fw_xBold;

         &:disabled{
            cursor: not-allowed;
         }
      }

      .fx-button{
         position: absolute;
         top: 1em;
         right: 1.5em;


         svg{
            color: $text_color1;
            font-size: 1.4rem;
         }
      }
   
      .fx-button:nth-of-type(3){
         right: unset;
         left: 1.5em;
         

         svg{
            font-size: 1rem;
         }
      }

      button[type=submit]{
         &:hover{
            background: $accent_color_3;
         }
      }

      .image_upload_input{
         margin-top: 2.5em;
      }

      .add_label_btn{
         text-decoration: underline $accent_color_1;
         color: $text_color1;
         @include flexObj($justify:center);
         gap: .4em;
         font-weight: $fw_xBold;
         font-family: $ff_primary;
         border-radius: 7px;
         display: block;
         margin: 2em auto;

         svg{
            color: $accent_color_1;
            font-size: 1.3rem;
         }
      }



      // Added Label Section In Form Top Section
      .added_labels_container{
         @include flexObj($direction:column,$justify:flex-start);
         gap:.4em;
         margin-block: 1em;
         button{
            @include flexObj($justify:center);
            gap: .2em;
            background-color: transparent;
            border: 1px solid $text_color1;
            border-radius: 10px;
            padding:.2em .5em;

            &:hover{
               opacity: .9;
            }

            
            span{
               font-family: $ff_primary;
               color: $radiant_color2;
            }
         }
      }
   }
}



.create_contact_page form {

   .fields_area>div{
      margin-block: 1.5em;
   }


   .dx_container{
      position: relative;
      width: 100%;
      @include flexObj($justify:center,$direction:column);


      svg{
         position: absolute;
         top: .8em;
         left: 0;
         font-size: 1.1rem;
         color: $text_color1;
         opacity:.9;
      }



      // Text Field Input Styling
      .contact-input{
         margin-inline: auto;
         margin-bottom: .6em;
         width: 80%;

         &>label{
            font-family: $ff_secondary;
            font-size: 1rem;
            color: hsl(0, 2%, 56%);
         }

         &:focus-within {
            label{
               font-family: $ff_primary;
               font-size:.9rem;
               font-weight: $fw_bold;
               color: $accent_color_2;
            }
         }

         input{
            font-weight: $fw_bold;
            font-family: $ff_secondary;
            font-size: .9rem;
            color: $text_color1;

            &::placeholder{
               font-size: .9rem;
            }
         }
      }



      // Phoen Number Input
      .phone_number_input{
         
         border: 1px solid hsla(0, 3%, 74%, 0.897);
         width: 80%;
         padding: .6em .65em;
         border-radius: 6px;
         margin-block: 1em;
         font-weight: $fw_bold;
         font-family: $ff_secondary;
         height: 2.6em;

         input{
            color: $text_color1;
            font-size: 1rem;
            font-weight: $fw_bold;

            &::placeholder{
               font-weight: $fw_regular;
            }
         }

         &:hover{
            border-color: $accent_color_2;
         }

         &:focus-within{
            border: 2px solid $accent_color_2;
         }
      }



      // Select Inputs
      .custom_label_select{
         width: 80%;
         margin-block: 1em;

         &>*{
            font-weight: $fw_bold;
            font-family: $ff_secondary;
            font-size: .9rem;
            color: $text_color1;
         } 

         label{
            color: hsl(0, 2%, 56%);
            text-align:center;
            font-weight: $fw_regular;
         }
      }

   }


   .related_people_field_inputs{
      position: relative;

      &>div:last-of-type{
         margin-bottom: 2em;
      }

      .field_append_btn{
         position: absolute;
         right: 1em;
         top: 20%;
         display: none;
        
         svg{
            font-size: 1.3rem;
            color: $accent_color_1;
            pointer-events: all !important;
         }
      }

      // only show one append btn
      .append_btn_0{
         display: block;
      }


      // only show one [related people section icon]
      .related_people_icon{
         display: none;
      }

      .related_people_icon_0{
         display: block;
      }
   }

   .show_more_btn{
      color: $text_color1;
      font-family: $ff_primary;
      font-weight: $fw_bold;
      font-size: 1rem;
      position: absolute;
      bottom: 3em;
      right: 20%;
      text-decoration: underline $accent_color_1;
   }
}


// Label Menu Styling
.create_contact_page form .label_menu{
   padding: .3em;
   position: absolute;
   left: 20%;
   top: 9em;
   z-index: 10;

   span{
      font-family: $ff_primary;
   }

   p{
      font-weight: $fw_bold;
      font-family: $ff_prompts;
   }

   svg{
      font-size: 1.3rem;
   }

   .label{
      margin-block: 0 !important;
   }

   .flex-row{
      @include flexObj($justify:flex-start);
      gap: .5em;
      margin-top: 1em;

      span{
         font-size: .9rem;
         font-weight: $fw_regular;
         font-family: $ff_secondary;
         color: $text_color2;
      }
   }
}




.creating_contact_loader{
   position: fixed;
   z-index: 4;
   width: 100%;
   left: 0;
   right: 0;
   top: -5em;
   bottom: 0;
   margin-inline: auto;
   background-color: #fafafa1e;
   backdrop-filter: brightness(95%);
   height: 100vh;
   overflow: hidden;

   &>*{
      top: 0;
   }
}



// Media queries
@include useMediaQuery_LS {
   .image_upload_input{
      width: 10.5em;
      margin-inline: 2em;
   }

   .creating_contact_loader{
      top: 4.5em;
   }

   .create_contact_page{
      padding-top: 1em;
      form {
         position: relative;

         .fields_area{
            padding-top: 13.5em;
         }


         .top_section{
            border-bottom: 1px solid $util_color2;
            padding-bottom: 1em;
            padding-top: 1em;
            min-height: 11em;
            padding-inline: 0;
            position: fixed;
            width: 95%;
            margin-inline: auto;
            z-index: 2;
            top: 4.3em;
            background-color: $generic_color_1;

            .add_label_btn{
               position: absolute;
               top: 5em;
               left: 20em;
            }

            .image_upload_input{
               margin-top: .7em;
            }


            .added_labels_container{
               position: absolute;
               top: 5.2em;
               left: 19.7em;
               display: grid;
               grid-template-columns: auto;
               grid-template-rows: 1fr 1fr;

               button{
                  font-size: .85rem;

                  &>*{
                     font-size: inherit;
                  }
               }
            }

            .fx-button:nth-of-type(3){
               top: 1em;
               left: 0;
            }

            button[type=submit]{
               top: 5em;
            }
         }
      }

      .show_more_btn{
         position: absolute;
      }
   }



   .create_contact_page form{

      .dx_container{
         @include flexObj($justify:flex-start,$direction:column);
         width: 57%;
         padding-left: 3em;

         .contact-input,
         .phone_number_input,
         .custom_label_select{
            width: 100%;
            margin-inline: 0;
         }

         svg{
            top: 1.1em;
         }
      }

      .related_people_field_inputs{
         .append_btn_0{
            right: -1em;
         }
      }
   }
}