@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400&family=Sofia&family=Source+Sans+Pro:wght@400;600&display=swap");
:root {
  --ff1:"Overpass", Roboto, sans-serif;
  --ff2:"Inter" ,Roboto, sans-serif;
  --ff3-nav:"Open Sans", sans-serif;
  --py-color1:hsl(240, 40%, 17%);
  --py-color3:hsl(0, 0%, 100%);
  --py-color2:hsl(327, 72%, 50%);
  --input-color1:hsl(0, 7%, 84%);
  --basic-Black:hsl(0, 0%, 0%);
  --dim-Black:hsla(0, 0%, 0%, 0.486);
  --contactItem-bgColor:hsla(344, 44%, 95%, 0.726);
  --star-gold-Color:hsl(49, 90%, 51%);
  --text-color-accent:hsl(199, 71%, 27%);
  --text-color-accent2:hsl(29, 100%, 50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  width: 100%;
}

button {
  background: none;
  cursor: pointer;
}

button,
input {
  font-family: inherit;
  border: none;
}
button:focus,
input:focus {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

.logo {
  font-family: "Sofia", Courier, monospace;
  color: var(--py-color3);
  position: relative;
  display: inline-block;
  z-index: 1;
}
.logo::after {
  content: "";
  width: 40%;
  position: absolute;
  top: 0.4em;
  right: 0;
  background-color: var(--py-color2);
  height: 2px;
  z-index: -1;
}
.logo::before {
  content: "";
  width: 55%;
  position: absolute;
  bottom: 0.2em;
  left: 0;
  background-color: var(--py-color2);
  height: 2px;
  z-index: -1;
}
@media (min-width: 75rem) {
  .logo {
    color: var(--py-color3) !important;
  }
}

.toggledNav-logoView {
  color: var(--py-color1);
}
.toggledNav-logoView::after {
  background-color: var(--py-color2);
}
.toggledNav-logoView::before {
  background-color: var(--py-color2);
}

.AT-only {
  left: -1000000px;
  top: -1000000px;
  position: absolute;
  width: 0;
  font-size: 1px;
}

.add-contactBtn-container {
  background: var(--py-color1);
  border-radius: 50%;
  width: 2.6em;
  aspect-ratio: 1/1;
  text-align: center;
  position: absolute;
  top: 70%;
  right: 1em;
  z-index: 100;
}
.add-contactBtn-container button .add-icon {
  color: var(--py-color3);
  font-size: 2.3rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.add-contactBtn-container button:hover .add-icon {
  color: var(--py-color2);
}
.add-contactBtn-container .desktop-only {
  display: none;
}
@media (min-width: 75rem) {
  .add-contactBtn-container {
    z-index: 10000;
    width: 3em;
    border-radius: 7px;
    aspect-ratio: 1/0.7;
    padding: 0.3em;
    left: -12em;
    top: -1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .add-contactBtn-container button .add-icon {
    font-size: 1.8rem;
  }
}

.loader-container {
  position: fixed;
  background-color: hsla(0deg, 3%, 77%, 0.116);
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.alert-box {
  position: absolute;
  top: 1em;
  z-index: 100000;
  left: 1em;
  font-family: var(--ff1);
}
.alert-box span {
  text-transform: capitalize;
}
.alert-box span strong {
  font-family: inherit;
  color: red;
}

.error-para {
  color: red;
  text-transform: capitalize;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.main-content {
  width: 100%;
  padding: 1em;
  position: absolute;
  font-family: var(--ff2);
  margin-top: 2em;
}
.main-content h2 {
  color: var(--py-color2);
  font-weight: 600;
  font-family: var(--ff1);
  text-align: center;
  margin-block: 4em;
  font-size: 1.2rem;
}
@media (min-width: 75rem) {
  .main-content h2 {
    position: absolute;
    left: 25%;
  }
}
.main-content .header_labels {
  display: grid;
  grid-template-columns: 22% 22% 19% 21%;
  border-bottom: 1px solid rgb(230, 224, 224);
  padding-bottom: 2em;
}
.main-content .header_labels h4 {
  font-weight: 400;
  display: none;
  justify-self: start;
}
@media (min-width: 75rem) {
  .main-content .header_labels h4 {
    display: block;
    margin-top: 0.5em;
  }
}
.main-content .header_labels h4:first-of-type {
  display: block;
}
.main-content .header_labels h4:last-of-type {
  justify-self: center;
}
@media (min-width: 75rem) {
  .main-content {
    left: 15%;
    width: 83%;
    margin-left: 2%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 3em 0.5em;
  position: relative;
  background: linear-gradient(hsla(240deg, 40%, 17%, 0.507), hsla(240deg, 40%, 17%, 0.5)), url("/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .search-area {
  position: absolute;
  left: -50%;
  right: -50%;
  margin: auto;
  top: 7.6em;
  width: 100%;
}
header .search-area input {
  width: 90%;
  padding: 0.5em;
  padding-left: 4em;
  background: var(--input-color1);
  border-radius: 7px;
  height: 3.2em;
  margin-top: 2em;
  border: none;
  display: block;
  margin: auto;
  font-family: var(--ff2);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.116);
}
header .search-area input::placeholder {
  font-size: 0.9rem;
  text-transform: capitalize;
}
header .search-area .search-icon {
  position: absolute;
  left: 3em;
  top: 0;
  bottom: 0;
  margin: auto;
  color: grey;
}
header .header-actionIcons .user-image {
  width: 2.5em;
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 1px solid var(--py-color3);
}
header .header-actionIcons .user-image:hover {
  scale: 1.1;
}
header .logo {
  position: absolute;
  top: 0.2em;
  z-index: 100000;
  left: 1em;
  cursor: pointer;
}
header .nav-toggle {
  position: relative;
  z-index: 100000;
  filter: brightness(0) invert(1);
}
header .nav-toggle-toggled {
  filter: none;
}
header .header-widjet {
  width: 15em;
  box-shadow: 0 0 4px 2px rgba(88, 86, 86, 0.199);
  border-radius: 6px;
  font-family: var(--ff2);
  aspect-ratio: 1/0.6;
  position: absolute;
  background-color: var(--py-color1);
  z-index: 5000;
  padding: 1em;
  right: 0.4em;
}
header .header-widjet .widjet-userDetails {
  max-width: 70%;
}
header .header-widjet .widjet-userDetails p {
  margin-block: 0.4em;
  color: var(--py-color2);
}
header .header-widjet .widjet-userDetails p:last-of-type {
  color: var(--py-color3);
  text-decoration: underline var(--py-color2);
  font-family: var(--ff1);
}
header .header-widjet .flex-row {
  margin-top: 1em;
}
header .header-widjet .flex-row .help-icon,
header .header-widjet .flex-row .signout-icon {
  color: var(--py-color3);
  font-size: 1.5rem;
  display: block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header .header-widjet .flex-row .help-icon:hover,
header .header-widjet .flex-row .signout-icon:hover {
  color: var(--py-color2);
}
header .header-widjet .flex-row .help-link-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
header .header-widjet .icon-closeWidjet {
  cursor: pointer;
  color: var(--py-color3);
  font-size: 1.1rem;
}
header .header-widjet .widjet-modal {
  position: fixed;
  background: rgba(201, 197, 221, 0.459);
  color: var(--py-color3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
}
header .header-widjet .widjet-modal > div {
  background: var(--py-color1);
  width: 20em;
  height: 10em;
  border-radius: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 3em;
}
header .header-widjet .widjet-modal > div button {
  color: inherit;
  display: block;
  font-size: 1rem;
  border-bottom: 2px solid var(--py-color2);
  transition: 0.3s ease-in-out;
}
header .header-widjet .widjet-modal > div button:hover {
  color: var(--py-color2);
  border-color: var(--py-color3);
}
@media (min-width: 50rem) {
  header .search-icon {
    left: 4em !important;
    bottom: 0;
    z-index: 1;
  }
}
@media (min-width: 75rem) {
  header {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    padding-block: 2.5em;
  }
  header .search-area {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: -4em;
  }
  header .search-area .search-icon {
    left: 3em;
    bottom: 0;
    z-index: 1;
  }
  header .search-area input {
    height: 3em;
    font-size: 1rem;
  }
  header .header-actionIcons .header-widjet {
    width: 18em;
    top: 6em;
  }
  header .header-actionIcons .user-image {
    position: absolute;
    right: 2em;
    top: 2.8em;
  }
  header .nav-toggle {
    display: none;
  }
}

.main-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsla(0deg, 0%, 0%, 0.322);
  top: 0;
  margin: auto 0;
  width: 100%;
  height: 100%;
  font-family: var(--ff3-nav);
  padding-top: 7em;
  z-index: 10000;
}
.main-nav div {
  background-color: var(--py-color3);
  width: 12em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 7em;
  box-shadow: 0 4px 5px black;
}
.main-nav div::after {
  content: "";
  width: calc(100% + 0.5em);
  position: absolute;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  bottom: -0.3em;
  background-color: var(--py-color2);
  height: 1em;
  right: 0;
}
.main-nav ul {
  border-bottom: 1px solid rgb(209, 203, 203);
  padding-bottom: 1em;
  margin-block: 0.5em;
}
.main-nav ul li {
  margin-block: 1.4em;
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
  padding-left: 2.5em;
}
.main-nav ul li:hover a {
  color: var(--py-color2);
}
.main-nav ul li a {
  transition: 0.25s ease-in-out;
  color: var(--py-color1);
  font-weight: 500;
  z-index: 1000;
}
.main-nav ul li .active {
  color: var(--py-color2);
}
.main-nav ul li .contacts-icon,
.main-nav ul li .hide-icon,
.main-nav ul li .frequently-icon,
.main-nav ul li .trash-icon {
  font-size: 1.5rem;
  color: var(--py-color2);
  margin-inline: 0.1em;
  position: absolute;
  left: 0.2em;
}
.main-nav ul li .trash-icon {
  color: var(--py-color2);
  font-size: 1rem;
  left: 0.5em;
}
@media (min-width: 75rem) {
  .main-nav {
    background: none;
    width: 15%;
  }
  .main-nav div {
    padding-top: 9em;
    background: none;
    box-shadow: none;
    width: auto;
  }
  .main-nav div::after {
    background-color: var(--py-color2);
    display: none;
    height: 85%;
    width: 0.5em;
    z-index: 1;
  }
  .main-nav ul li {
    margin-block: 3em;
  }
}

.authSection-logoview {
  position: absolute;
  top: 0;
  color: var(--py-color2);
}
.authSection-logoview::after {
  background: var(--py-color3);
}
.authSection-logoview::before {
  background: var(--py-color3);
}

.signIn-section {
  background-image: linear-gradient(rgba(35, 35, 49, 0.308), rgba(65, 45, 53, 0.397)), url("/images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-family: var(--ff1);
}
.signIn-section-inner {
  background-color: hsla(0deg, 0%, 100%, 0.92);
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 1em;
  padding-top: 3em;
  border-radius: 10px;
  position: relative;
}
.signIn-section-inner h1 {
  color: var(--py-color);
  font-size: 2rem;
}
.signIn-section-inner img[aria-hidden=true] {
  width: 6em;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin-top: 0.5em;
}
.signIn-section-inner form {
  margin-block: 1em 0.5em;
  text-align: left;
  box-shadow: 0 0 4px 4px rgba(88, 85, 85, 0.096);
  border-radius: 10px;
  padding: 0.4em 1em;
}
.signIn-section-inner form div {
  margin-block: 1em;
}
.signIn-section-inner form div label, .signIn-section-inner form div input {
  display: block;
  margin-block: 0.2em;
}
.signIn-section-inner form div input {
  width: 90%;
  height: 2.3em;
  border: 1px solid var(--py-color1);
  border-radius: 3px;
  padding: 0.3em;
}
.signIn-section-inner form button {
  font-size: 0.9rem;
  background-color: var(--py-color2);
  border-radius: 4px;
  padding: 0.4em 1.4em;
  color: var(--py-color3);
  margin-bottom: 0.3em;
}
.signIn-section-inner .alt-authActions {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.signIn-section-inner .alt-authActions a {
  width: 50%;
  color: var(--py-color2);
}
.signIn-section-inner .alt-authActions button {
  width: 50%;
  position: relative;
  display: flex;
  align-items: "center";
  justify-content: "center";
  flex-direction: row;
  transition: 0.3s linear;
}
.signIn-section-inner .alt-authActions button:hover {
  color: var(--py-color2);
}
.signIn-section-inner .alt-authActions button img {
  width: 2em;
}
.signIn-section-inner .flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.signIn-section-inner .flex-row a {
  color: var(--py-color1);
  transition: 0.3s ease-in-out;
}
.signIn-section-inner .flex-row a:hover {
  color: var(--py-color2);
}
@media (min-width: 50rem) {
  .signIn-section-inner {
    width: 27em;
  }
}

.signUp-section {
  background-image: linear-gradient(rgba(35, 35, 49, 0.308), rgba(65, 45, 53, 0.397)), url("/images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-family: var(--ff1);
}
.signUp-section .intro-para {
  margin-block: 0.5em;
}
.signUp-section .intro-para span {
  color: var(--py-color2);
}
.signUp-section-inner {
  background-color: hsla(0deg, 0%, 100%, 0.92);
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 1em;
  padding-top: 3em;
  border-radius: 10px;
  position: relative;
}
.signUp-section-inner img {
  width: 2em;
}
.signUp-section-inner .privacy-info {
  color: rgb(6, 8, 121);
}
.signUp-section-inner .privacy-info span {
  display: block;
}
.signUp-section-inner .privacy-info-btn {
  color: var(--py-color2);
}
.signUp-section-inner .privacy-info-btn img {
  width: 1.3em;
  position: relative;
  right: -0.3em;
  bottom: -0.2em;
}
.signUp-section-inner .privacy-info-btn-toggled img {
  transform: rotate(180deg);
}
.signUp-section-inner form {
  text-align: left;
  border-bottom: 1px solid var(--py-color1);
  padding-bottom: 0.3em;
}
.signUp-section-inner form div {
  margin-block: 1em;
}
.signUp-section-inner form div label, .signUp-section-inner form div input {
  display: block;
  margin-block: 0.2em;
}
.signUp-section-inner form div input {
  width: 90%;
  height: 1.8em;
  border: 1px solid var(--py-color1);
  border-radius: 3px;
  padding: 0.3em;
}
.signUp-section-inner form button {
  background-color: var(--py-color2);
  border-radius: 4px;
  padding: 0.4em 1.4em;
  color: white;
  margin-bottom: 0.3em;
}
.signUp-section-inner .alt-authActions {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.signUp-section-inner .alt-authActions a {
  width: 50%;
  color: var(--py-color2);
}
.signUp-section-inner .alt-authActions button {
  width: 50%;
  position: relative;
  display: flex;
  align-items: "center";
  justify-content: "center";
  flex-direction: row;
  transition: 0.3s linear;
}
.signUp-section-inner .alt-authActions button:hover {
  color: var(--py-color2);
}
.signUp-section-inner .alt-authActions button img {
  width: 2em;
}
.signUp-section-inner .flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.signUp-section-inner .flex-row a {
  color: var(--py-color1);
  transition: 0.3s ease-in-out;
}
.signUp-section-inner .flex-row a:hover {
  color: var(--py-color2);
}
@media (min-width: 50rem) {
  .signUp-section-inner {
    max-width: 30em;
  }
}

.forgotten-password {
  background-image: linear-gradient(rgba(35, 35, 49, 0.308), rgba(65, 45, 53, 0.397)), url("/images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-family: var(--ff1);
}
.forgotten-password-inner {
  background-color: hsla(0deg, 0%, 100%, 0.92);
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 1em;
  padding-top: 3em;
  border-radius: 10px;
  position: relative;
  text-align: left;
  padding-top: 1em;
}
.forgotten-password-inner label,
.forgotten-password-inner input {
  display: block;
  margin-block: 0.3em;
}
.forgotten-password-inner input {
  border: 1px solid rgb(39, 36, 36);
  width: 90%;
  height: 2.3em;
  border-radius: 4px;
  padding: 0.4em;
}
.forgotten-password-inner h2 {
  margin-block: 1em;
}
.forgotten-password-inner button {
  margin-block: 1em;
  display: block;
  color: green;
  position: relative;
}
.forgotten-password-inner button::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background-color: green;
  border-radius: 3px;
  transition: 0.3s linear;
  bottom: 0;
  left: 0;
}
.forgotten-password-inner button:hover::after {
  width: 100%;
}
@media (min-width: 50rem) {
  .forgotten-password-inner {
    max-width: 30em;
  }
}

.page-notFound {
  color: var(--py-color1);
  font-family: var(--ff2);
  text-align: center;
  margin-top: 6em;
}
.page-notFound h2 {
  font-size: 2rem;
}
.page-notFound h3 {
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: red;
}
.page-notFound p {
  margin-top: 1em;
}
.page-notFound p span {
  color: green;
  margin-inline: 0.5em;
}
.page-notFound p a {
  color: cyan;
  display: block;
  margin-top: 0.4em;
}

.create-contact-section {
  padding-top: 5em;
}
.create-contact-section .heading {
  border-bottom: 1px solid rgb(209, 206, 206);
  padding-bottom: 1em;
}
.create-contact-section .heading .cancel-create {
  position: absolute;
  top: 1.4em;
  left: 1em;
  font-size: 1.1rem;
}
.create-contact-section .heading .image-upload {
  width: 9em;
  position: relative;
  background-color: var(--py-color1);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.create-contact-section .heading .image-upload-placeholder {
  font-size: 5rem;
}
.create-contact-section .heading .image-upload img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.create-contact-section .heading .image-upload .image-upload-input {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.create-contact-section .heading .save-btn {
  background-color: var(--py-color1);
  color: var(--py-color3);
  padding: 0.6em 1.8em;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  font-size: 0.9rem;
}
.create-contact-section .heading .save-btn:hover {
  opacity: 0.8;
}
.create-contact-section .icon {
  color: var(--py-color1);
  position: absolute;
  left: 0.1em;
  font-size: 1.5rem;
}
.create-contact-section .show-more-btn {
  display: inline-block;
  margin-block: 1em;
  width: 100%;
  text-align: right;
  color: var(--py-color2);
  text-decoration: underline var(--py-color2);
}
.create-contact-section form {
  margin-top: 1em;
}
.create-contact-section form > div {
  position: relative;
  padding-left: 3em;
  margin-block: 2em;
}
.create-contact-section form > div .input-container {
  position: relative;
  margin-block: 1.5em;
}
.create-contact-section form > div .input-container input {
  padding: 0.4em;
  font-size: inherit;
  display: block;
  border-bottom: 1px solid rgb(209, 206, 206);
  width: 90%;
  color: var(--py-color1);
}
.create-contact-section form > div .input-container input::placeholder {
  color: var(--py-color1);
  font-size: 0.9rem;
}
.create-contact-section form > div .input-container label {
  position: absolute;
  font-size: 0.8rem;
  color: var(--py-color2);
  top: -1em;
  visibility: hidden;
  transition: 0.3s linear;
  opacity: 0;
  z-index: -1;
}
.create-contact-section form > div .input-container:focus-within label {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.create-contact-section form > div .input-container:focus-within input {
  border-color: var(--py-color2);
}
.create-contact-section form > div .input-container:focus-within input::placeholder {
  opacity: 0;
}
@media (min-width: 50rem) {
  .create-contact-section {
    padding-top: 6em;
  }
  .create-contact-section .cancel-create {
    top: 3em !important;
  }
}
@media (min-width: 75rem) {
  .create-contact-section .icon {
    left: -0.5em;
  }
  .create-contact-section .phone-input {
    width: 25em;
  }
  .create-contact-section .heading .image-upload {
    width: 10em;
  }
  .create-contact-section form > div {
    left: 3em;
  }
  .create-contact-section form > div .input-container input {
    width: 30em !important;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  margin-block: 1.4em;
  position: relative;
  z-index: 1;
  color: var(--py-color1);
  cursor: pointer;
}
.contact::before {
  content: "";
  width: calc(100% + 1em);
  padding-block: 1.7em;
  top: -0.3em;
  left: -1em;
  background-color: var(--contactItem-bgColor);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  z-index: -1;
}
.contact .contact-icons {
  position: absolute;
  right: 0.4em;
}
.contact .contact-icons > * {
  font-size: 1.3rem;
  margin-inline: 0.5em;
  transition: 0.3s ease-in;
}
.contact .contact-icons > *:hover {
  color: var(--py-color2);
}
.contact .contact-icons .star-icon:hover path {
  color: var(--star-gold-Color);
}
.contact .contact-icons .star-icon path {
  color: rgb(202, 198, 198);
}
.contact .contact-icons .starred path {
  color: var(--star-gold-Color) !important;
}
.contact .name_image-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.contact .name_image-container .contact-name {
  margin-left: 0.4em;
  word-break: break-all;
}
.contact .name_image-container .contact-name span {
  margin-right: 0.2em;
  font-size: 1rem;
}
.contact .contact-action-menu {
  position: absolute;
  right: 4em;
  bottom: -2em;
  background-color: var(--py-color3);
  box-shadow: 0 0 3px 3px hsla(0deg, 3%, 25%, 0.164);
  width: 6em;
  z-index: 10 !important;
  aspect-ratio: 1/0.7;
  border-radius: 4px;
  padding: 0.5em;
}
.contact .contact-action-menu button {
  display: block;
  margin-block: 0.5em;
  font-size: 0.9rem;
}
.contact .contact-action-menu button:hover {
  text-decoration: underline var(--py-color2);
}
.contact .contactUser-image {
  width: 2.5em;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.contact .hide-for-mobile {
  display: none;
}
.contact .work {
  color: rgb(44, 87, 82);
}
@media (min-width: 75rem) {
  .contact {
    display: grid;
    grid-template-columns: 21% 21% 19% 21%;
  }
  .contact:hover::before {
    background: var(--contactItem-bgColor);
  }
  .contact:hover .contact-icons {
    visibility: visible;
  }
  .contact span {
    font-size: 1rem !important;
    word-break: break-all;
  }
  .contact::before {
    background: none;
  }
  .contact .contactUser-image {
    left: -0.5em;
    position: relative;
  }
  .contact .contact-name {
    position: absolute;
    left: 3em;
  }
  .contact .contact-icons {
    visibility: hidden;
  }
  .contact .hide-for-mobile {
    display: block;
  }
  .contact .work {
    justify-self: center;
    padding-right: 1.2em;
  }
}

.not-loggedIn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--ff1);
  background-color: rgba(27, 27, 59, 0.315);
  width: 100%;
  height: 100%;
  z-index: 100000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.not-loggedIn h2 {
  color: var(--py-color1);
  margin-block: 1em;
}
.not-loggedIn div {
  background-color: hsla(0deg, 11%, 89%, 0.897);
  width: 20em;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
}
.not-loggedIn a {
  color: var(--py-color2);
  font-size: 1.2rem;
  text-decoration: underline var(--py-color2);
}

.starred-contacts .page-heading {
  color: var(--py-color1);
  font-size: 1.4rem;
  margin-block: 0.2em;
  position: relative;
}
.starred-contacts .page-heading::after {
  content: "";
  display: block;
  background: var(--py-color1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  margin: auto;
  height: 2px;
}
@media (min-width: 75rem) {
  .starred-contacts .page-heading {
    text-align: left !important;
    margin-block: 1.5em;
  }
  .starred-contacts .page-heading::after {
    width: 10%;
    left: 0;
    margin: 0;
  }
}

.starred-contactItem-container {
  margin-block: 2em;
}

.starred-contactItem {
  margin-block: 0.6em;
  background: hsla(246deg, 16%, 75%, 0.185);
  padding: 0.6em 0.3em;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
.starred-contactItem:hover .arrow-icon {
  color: var(--py-color2);
}
@media (min-width: 50rem) {
  .starred-contactItem {
    padding-inline: 1em;
  }
}
.starred-contactItem-lessDisplay {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  color: var(--py-color1);
}
.starred-contactItem-lessDisplay .arrow-icon {
  color: inherit;
  font-size: 1.2rem;
  position: absolute;
  cursor: pointer;
  right: 1em;
}
.starred-contactItem-lessDisplay .arrow-icon-rotate {
  transform: rotate(180deg);
}
.starred-contactItem-lessDisplay .remove-star-btn {
  color: var(--star-gold-Color);
  font-size: 1rem;
  position: absolute;
  right: 4em;
}
.starred-contactItem-lessDisplay .remove-star-btn:hover {
  color: rgb(199, 195, 195);
}
.starred-contactItem-lessDisplay h4 {
  font-weight: 500;
}
.starred-contactItem-lessDisplay h4 span:not(:first-of-type) {
  margin-right: 0.4em;
}
.starred-contactItem-moreContent {
  display: none;
  padding-inline: 2em;
  color: var(--py-color1);
}
.starred-contactItem-moreContent > div {
  margin-block: 1em;
  position: relative;
}
.starred-contactItem-moreContent p {
  text-transform: capitalize;
}
.starred-contactItem-moreContent .icon {
  position: absolute;
  left: -1.4em;
  font-size: 1.2rem;
}
@media (min-width: 75rem) {
  .starred-contactItem-moreContent .icon {
    left: 0.8em;
  }
}
.starred-contactItem-moreContent .contact-image-container {
  width: 50%;
  margin: 1em auto;
  text-align: center;
}
.starred-contactItem-moreContent .contact-image-container img {
  width: 4em;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
@media (min-width: 50rem) {
  .starred-contactItem-moreContent .contact-image-container {
    position: absolute;
    right: 5em;
    width: 30%;
    top: 0;
    bottom: 0;
  }
  .starred-contactItem-moreContent .contact-image-container img {
    width: 10em;
  }
}
.starred-contactItem-moreContent .contact-area > * {
  margin-block: 0.4em;
}
.starred-contactItem-moreContent .birthday-area p {
  color: var(--text-color-accent2);
  font-family: var(--ff1);
}
.starred-contactItem-moreContent h3 {
  color: var(--py-color2);
  font-weight: 500;
}
@media (min-width: 75rem) {
  .starred-contactItem-moreContent > div {
    margin-top: 2em;
    padding-left: 3.3em;
  }
  .starred-contactItem-moreContent .contact-image-container {
    margin: 0;
    padding-left: 0;
    text-align: left;
    width: 10%;
    position: unset;
  }
  .starred-contactItem-moreContent .contact-image-container img {
    width: 5em;
  }
}
.starred-contactItem .showMore-content {
  display: block;
}
@media (min-width: 75rem) {
  .starred-contactItem .showMore-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 30px;
  }
}

.hidden-contact {
  position: relative;
}
.hidden-contact button {
  font-size: 1.2rem;
  position: absolute;
  right: 1em;
  color: var(--py-color2);
  transition: 0.25s ease-in-out;
}
.hidden-contact button .visible-icon path {
  stroke: var(--py-color2);
}
.hidden-contact button:hover {
  scale: 1.1;
}
@media (min-width: 75rem) {
  .hidden-contact button {
    right: 5em;
  }
}

.trash .header_labels {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: end;
}
.trash .header_labels h4:last-of-type {
  justify-self: center;
}
.trash .header_labels h4 {
  display: block !important;
}
.trash .trash-contact {
  display: grid;
  grid-template-columns: 50% 50% 1fr;
  justify-items: center;
  padding-inline: 0 1em;
  width: 100% !important;
  border-bottom: 1px solid rgb(204, 198, 198);
  padding-block: 1em;
  margin-block: 1em;
}
.trash .trash-contact .name_image-container {
  justify-self: start;
}
.trash .trash-contact::before {
  display: none;
}
.trash .trash-contact .trashContact-action-btns {
  grid-column: 1/-1;
}
.trash .trash-contact .trashContact-action-btns button {
  display: inline-block;
  font-size: 0.9rem;
  margin-inline: 1em;
  text-decoration: underline;
  text-decoration-color: var(--py-color2);
  font-family: var(--ff1);
}
.trash .trash-contact .trashContact-action-btns button > * {
  font-size: 1.2rem;
}
.trash .trash-contact .trashContact-action-btns .restore-contact-btn:hover {
  color: green;
}
.trash .trash-contact .trashContact-action-btns .delete-contact-btn:hover {
  color: red;
}
@media (min-width: 75rem) {
  .trash .trash-contact .trashContact-action-btns {
    justify-self: start;
  }
  .trash .trash-contact .trashContact-action-btns button {
    margin-inline: 5em;
  }
}
.trash .trash-delete-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: hsla(0deg, 1%, 28%, 0.562);
  width: 100%;
  z-index: 100000;
  height: 100%;
}
.trash .trash-delete-modal h2 {
  position: unset;
  margin-block: 2em;
  font-size: 1.3rem;
}
.trash .trash-delete-modal-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--py-color3);
  width: 23em;
  height: 12em;
  border-radius: 4px;
}
.trash .trash-delete-modal .modal-action-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-inline: 1em;
}
.trash .trash-delete-modal .modal-action-btns button {
  background: var(--py-color1);
  color: var(--py-color3);
  font-family: var(--ff1);
  font-size: 1rem;
  padding: 0.4em 1.2em;
  border-radius: 6px;
  transition: 0.3s ease-in;
}
.trash .trash-delete-modal .modal-action-btns button:hover {
  opacity: 0.8;
}

.help-article {
  padding-inline: 1em;
}
.help-article img {
  width: 1.2em;
}
.help-article h2 {
  color: var(--py-color1);
  margin-block: 0.3em 1em;
}
.help-article .mail-prompt {
  margin-top: 1em;
}
.help-article .mail-prompt p:first-of-type {
  color: var(--py-color2);
}
.help-article .mail-prompt p:first-of-type span {
  color: green;
  display: block;
  text-transform: uppercase;
  text-decoration: underline;
}
.help-article p {
  margin-block: 0.5em;
}
.help-article .email-address {
  color: orange;
}
.help-article .email-address span {
  color: var(--py-color1);
}
.help-article .article-footer {
  margin-top: 2em;
  text-align: center;
  color: var(--py-color1);
}
@media (min-width: 50rem) {
  .help-article {
    padding-inline: 4em;
  }
}
@media (min-width: 75rem) {
  .help-article h2 {
    position: unset;
    text-align: left;
    font-size: 2rem !important;
  }
  .help-article p {
    margin-block: 1em;
  }
  .help-article .article-footer {
    text-align: left;
    margin-top: 6em;
  }
}

.loading-text {
  color: var(--py-color1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
@media (min-width: 75rem) {
  .loading-text {
    position: unset;
  }
}

.viewed-contact .heading-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  padding-top: 3em;
}
.viewed-contact .heading-area img {
  width: 11em;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.viewed-contact .close-icon {
  position: absolute;
  cursor: pointer;
  top: 0.1em;
  transition: 0.2s ease-in-out;
}
.viewed-contact .close-icon:hover {
  color: var(--py-color2);
}
.viewed-contact .edit-btn {
  background: var(--py-color1);
  color: var(--py-color3);
  padding: 0.6em 2em;
  border-radius: 5px;
}
.viewed-contact .edit-btn:hover {
  opacity: 0.8;
}
.viewed-contact .full-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.viewed-contact .full-details > div {
  margin-block: 1em;
  padding-block: 1em;
  border-bottom: 1px solid rgba(212, 210, 210, 0.788);
  flex-basis: 45%;
}
.viewed-contact .full-details > div p {
  margin-block: 0.6em;
}
.viewed-contact .full-details > div p span {
  word-break: break-all;
  color: var(--text-color-accent);
  margin-left: 1em;
}
.viewed-contact .full-details > div h3 {
  color: var(--py-color2);
  font-weight: 500;
}
.viewed-contact .full-details > div:nth-child(2n+2) {
  text-align: right;
}
.viewed-contact .full-details .birthday-area p {
  color: var(--text-color-accent2);
  font-family: var(--ff1);
}
.viewed-contact .full-details .contact-area .email {
  color: rgba(7, 70, 7, 0.911);
}
@media (min-width: 75rem) {
  .viewed-contact {
    padding-inline: 3em;
  }
}

.search-result {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  overflow-y: auto;
  max-height: 8em;
  background: var(--py-color3);
  box-shadow: 0 3px 3px rgba(128, 128, 128, 0.397);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000;
}
.search-result .loading-placeholder {
  font-size: 4rem;
  display: block;
  color: grey;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.search-result .found-contact {
  font-family: var(--ff1);
  cursor: pointer;
  font-size: 1rem;
  padding: 1em;
  border-top: 1px solid rgba(128, 128, 128, 0.397);
}
.search-result .found-contact:hover {
  background-color: rgba(231, 185, 199, 0.329);
}

/*# sourceMappingURL=styles.css.map */
