@use '../utils/' as *;
@use '../global/typography' as *;
@use '../global/colors' as *;

.auth-page{
   margin-top: 1em;
   height: 100%;
   padding-bottom: 3em;
   padding-top: 2em;
   
   h2{
      font-size: 1.4rem;
      text-align: center;
   }
}

.auth-contents{
   @include flexObj($justify:center,$direction:column);

   // form styling
   form {
      &>div{
         margin-block: 1.4em 1.7em;
      }

      p[role=alert]{
         color: $radiant_color1;
         font-size: .83rem;
         text-transform: capitalize;
         font-family: $ff_prompts;
         margin-bottom: .5em;
         font-weight: $fw_bold;
      }

      input{
         width: 20em;
         font-family: $ff_primary;
         border: 2px solid $util_color1;
         height: 2.8em;
         padding: 1em;
         font-weight: $fw_bold;
         color: $text-color1;
         font-size: .95rem;

         &::placeholder{
            font-family: inherit;
            color: $text-color2;
            opacity: .5;
            font-size: .9rem;
         }

         &:focus{
            border: 1px dotted $accent_color_1;
         }
      }

      p{
         font-family: $ff_primary;
      }
      
      label{
         font-family: $ff_primary;
         font-size: .85rem;
         font-weight: $fw_xBold;
         margin-block: .3em ;
         color: $text-color2; 
      }

      // password input
      .auth_form_password{
         .input-container{
            position: relative;
            height:  4.1em;
            width: 19em;
            border-radius: 4px;
            
            svg{
               position: absolute;
               right: .5em;
               z-index: 2;
               bottom: .5em;
               color: hsl(220, 1%, 41%);
               font-size: 1.5rem;
               cursor: pointer;
               transition: .3s ease-in;

               &:hover{
                  color: $accent_color_2;
               }
            }
            
            input{
               border-radius: 4px;
               background-color: $generic_color_1;
               height: 68%;
               width: 100%;
               position: absolute;
               bottom: 0;
               left: 0;
            }
         }
      }


      // displayName input
      .floating_input_container{

         margin-top: 3em;

         label{
            font-family: $ff_primary;
         }
         input::placeholder{
            font-family: inherit;
         }
      }



      // form submit button
      button[type=submit]{
         font-family: $ff_secondary;
         font-size: .9rem;
         color: $text-color2;
         text-transform: uppercase;
         text-shadow: 2px 2px 2px $text-color1;
         background: $accent_color_1;
         color: $generic_color_1;
         padding: .5em;
         min-width: 5em;
         border-radius: 4px;
         transition: .3s ease-in-out;

         &:hover{
            background: $accent_color_2;
         }
      }
      
      
      .flex-row{
         margin-bottom: 1.6em;
         @include flexObj;

         a{
            color: $accent_color_1;
            text-decoration: underline $accent_color_1;
            font-family: $ff_secondary;
         }
      }
   }


   // alternative auth options
   .alt_auth_methods{
      margin-top: 2.5em;
      h3{
         text-align: center;
         font-size: 1.1rem;
      }

      button{
         width: 20em;
         height: 3em;
         padding: 1em;
         border:  2px solid $util_color1;
         border-radius: 5px;
         display: block;
         margin-inline: auto;
         margin-block: 1em;
         font-family: $ff_primary;
         color: $text-color2;
         font-weight: $fw_xBold;
         letter-spacing: .05rem;
         font-size:.88rem;
         @include flexObj($justify:center);
         gap: .2em;

         &:focus{
            border: 1px dotted $accent_color_2;
         }

         svg{
            font-size: 1.5rem;
         }
      }

      // disbaled auth method (phone number)
      button:disabled{
         cursor: not-allowed !important;
      }
   }
}


// MEDIA QUERIES
@include useMediaQuery_MD{
 
   .auth-contents{
      form{

         input{
            width: 27em;
         }

         .auth_form_password .input-container{
            width: 26em;
         }
      }

      .alt_auth_methods{
         h3{
            text-align: left;
         }
         button{
            width: 26em;
            margin-inline: 0;
         }
      }
   }

}

@include useMediaQuery_LS{
 
   // overriding default layout styling in the [_layout] for auth_pages
   .auth-page{
      padding-top: 9.1em !important;
   }

   

   .auth-contents{
      form{
         &>div{
            width: 27em;
            margin:1em auto;
         }

         input{
            width: 100%;
         }
         .auth_form_password{
            .input-container{
               width: 100%;
            }
         }
      }

      .alt_auth_methods{
         width: 20em;
         margin-inline: auto;
         @include flexObj($direction:column,$justify:center);
         h3{
            text-align: center;
         }
         button{
            width: 100%;
         }
      }
   }
}

